Code/CourseMate/CourseMate.Web/Service References/CMwcf/CourseMates2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CourseMatesWS.DAL.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CourseMatesWS.DAL.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GCMId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfCourse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Course" nillable="true" type="tns:Course" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourse" nillable="true" type="tns:ArrayOfCourse" />
  <xs:complexType name="Course">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseAdminID" type="xs:int" />
      <xs:element minOccurs="0" name="CourseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfFileItem" />
      <xs:element minOccurs="0" name="FourmItems" nillable="true" type="tns:ArrayOfForumItem" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IconClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Participants" nillable="true" type="tns:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Course" nillable="true" type="tns:Course" />
  <xs:complexType name="ArrayOfFileItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileItem" nillable="true" type="tns:FileItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileItem" nillable="true" type="tns:ArrayOfFileItem" />
  <xs:complexType name="FileItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsFolder" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastModify" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OwnerId" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerantID" type="xs:int" />
      <xs:element minOccurs="0" name="Rate" type="xs:int" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
      <xs:element minOccurs="0" name="SubItems" nillable="true" type="tns:ArrayOfFileItem" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:FileType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileItem" nillable="true" type="tns:FileItem" />
  <xs:complexType name="FileType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileType" nillable="true" type="tns:FileType" />
  <xs:complexType name="ArrayOfForumItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ForumItem" nillable="true" type="tns:ForumItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfForumItem" nillable="true" type="tns:ArrayOfForumItem" />
  <xs:complexType name="ForumItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CourseId" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerId" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerentId" type="xs:int" />
      <xs:element minOccurs="0" name="Rate" type="xs:int" />
      <xs:element minOccurs="0" name="SubItems" nillable="true" type="tns:ArrayOfForumItem" />
      <xs:element minOccurs="0" name="TimeAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForumItem" nillable="true" type="tns:ForumItem" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="FileStructure">
    <xs:sequence>
      <xs:element minOccurs="0" name="RootFolder" nillable="true" type="tns:FileItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileStructure" nillable="true" type="tns:FileStructure" />
  <xs:complexType name="Forum">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllItems" nillable="true" type="tns:ArrayOfForumItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Forum" nillable="true" type="tns:Forum" />
</xs:schema>