Code/CourseMate/CourseMate.Web/Service References/CMwcf/CourseMates.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CourseMates" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50368/CourseMates.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50368/CourseMates.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50368/CourseMates.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CourseMatesWS.DAL.Objects" />
      <xsd:import schemaLocation="http://localhost:50368/CourseMates.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CourseMatesWS.BLL" />
      <xsd:import schemaLocation="http://localhost:50368/CourseMates.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICourseMates_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_SendRestorePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:SendRestorePassword" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_SendRestorePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendRestorePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_CreateNewCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCourse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_CreateNewCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_GetCoursesByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesByUserId" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_GetCoursesByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileMsg">
    <wsdl:part name="parameters" element="tns:UploadFileMsg" />
  </wsdl:message>
  <wsdl:message name="UploadFileMsg_Headers">
    <wsdl:part name="CourseId" element="tns:CourseId" />
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="IsFolder" element="tns:IsFolder" />
    <wsdl:part name="ParentId" element="tns:ParentId" />
    <wsdl:part name="SessionId" element="tns:SessionId" />
    <wsdl:part name="Size" element="tns:Size" />
    <wsdl:part name="TypeId" element="tns:TypeId" />
    <wsdl:part name="UserId" element="tns:UserId" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_UploadFile_OutputMessage" />
  <wsdl:message name="ICourseMates_GetCourseFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseFiles" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_GetCourseFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseFilesResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadRequestMsg">
    <wsdl:part name="parameters" element="tns:DownloadRequestMsg" />
  </wsdl:message>
  <wsdl:message name="DownloadRequestMsg_Headers">
    <wsdl:part name="FileId" element="tns:FileId" />
    <wsdl:part name="SessionId" element="tns:SessionId" />
    <wsdl:part name="UserId" element="tns:UserId" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfoMsg">
    <wsdl:part name="parameters" element="tns:RemoteFileInfoMsg" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfoMsg_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Size" element="tns:Size" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_GetCoursePartisipant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursePartisipant" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_GetCoursePartisipant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursePartisipantResponse" />
  </wsdl:message>
  <wsdl:message name="IAndroidRest_LoginREST_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginREST" />
  </wsdl:message>
  <wsdl:message name="IAndroidRest_LoginREST_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginRESTResponse" />
  </wsdl:message>
  <wsdl:message name="IAndroidRest_GetCourseByUserIdREST_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseByUserIdREST" />
  </wsdl:message>
  <wsdl:message name="IAndroidRest_GetCourseByUserIdREST_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseByUserIdRESTResponse" />
  </wsdl:message>
  <wsdl:message name="IAndroidRest_RegisterREST_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterREST" />
  </wsdl:message>
  <wsdl:message name="IAndroidRest_RegisterREST_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterRESTResponse" />
  </wsdl:message>
  <wsdl:portType name="ICourseMates">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/Login" message="tns:ICourseMates_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/LoginResponse" message="tns:ICourseMates_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/Register" message="tns:ICourseMates_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/RegisterResponse" message="tns:ICourseMates_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendRestorePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/SendRestorePassword" message="tns:ICourseMates_SendRestorePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/SendRestorePasswordResponse" message="tns:ICourseMates_SendRestorePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/CreateNewCourse" message="tns:ICourseMates_CreateNewCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/CreateNewCourseResponse" message="tns:ICourseMates_CreateNewCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoursesByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/GetCoursesByUserId" message="tns:ICourseMates_GetCoursesByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/GetCoursesByUserIdResponse" message="tns:ICourseMates_GetCoursesByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/UploadFile" name="UploadFileMsg" message="tns:UploadFileMsg" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/UploadFileResponse" message="tns:ICourseMates_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/GetCourseFiles" message="tns:ICourseMates_GetCourseFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/GetCourseFilesResponse" message="tns:ICourseMates_GetCourseFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/DeleteFile" message="tns:ICourseMates_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/DeleteFileResponse" message="tns:ICourseMates_DeleteFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/GetFile" name="DownloadRequestMsg" message="tns:DownloadRequestMsg" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/GetFileResponse" name="RemoteFileInfoMsg" message="tns:RemoteFileInfoMsg" />
    </wsdl:operation>
    <wsdl:operation name="GetCoursePartisipant">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/GetCoursePartisipant" message="tns:ICourseMates_GetCoursePartisipant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/GetCoursePartisipantResponse" message="tns:ICourseMates_GetCoursePartisipant_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAndroidRest">
    <wsdl:operation name="LoginREST">
      <wsdl:input wsaw:Action="http://tempuri.org/IAndroidRest/LoginREST" message="tns:IAndroidRest_LoginREST_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAndroidRest/LoginRESTResponse" message="tns:IAndroidRest_LoginREST_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseByUserIdREST">
      <wsdl:input wsaw:Action="http://tempuri.org/IAndroidRest/GetCourseByUserIdREST" message="tns:IAndroidRest_GetCourseByUserIdREST_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAndroidRest/GetCourseByUserIdRESTResponse" message="tns:IAndroidRest_GetCourseByUserIdREST_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterREST">
      <wsdl:input wsaw:Action="http://tempuri.org/IAndroidRest/RegisterREST" message="tns:IAndroidRest_RegisterREST_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAndroidRest/RegisterRESTResponse" message="tns:IAndroidRest_RegisterREST_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soap" type="tns:ICourseMates">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRestorePassword">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/SendRestorePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewCourse">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/CreateNewCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoursesByUserId">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/GetCoursesByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/UploadFile" style="document" />
      <wsdl:input name="UploadFileMsg">
        <soap:header message="tns:UploadFileMsg_Headers" part="CourseId" use="literal" />
        <soap:header message="tns:UploadFileMsg_Headers" part="FileName" use="literal" />
        <soap:header message="tns:UploadFileMsg_Headers" part="IsFolder" use="literal" />
        <soap:header message="tns:UploadFileMsg_Headers" part="ParentId" use="literal" />
        <soap:header message="tns:UploadFileMsg_Headers" part="SessionId" use="literal" />
        <soap:header message="tns:UploadFileMsg_Headers" part="Size" use="literal" />
        <soap:header message="tns:UploadFileMsg_Headers" part="TypeId" use="literal" />
        <soap:header message="tns:UploadFileMsg_Headers" part="UserId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseFiles">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/GetCourseFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/GetFile" style="document" />
      <wsdl:input name="DownloadRequestMsg">
        <soap:header message="tns:DownloadRequestMsg_Headers" part="FileId" use="literal" />
        <soap:header message="tns:DownloadRequestMsg_Headers" part="SessionId" use="literal" />
        <soap:header message="tns:DownloadRequestMsg_Headers" part="UserId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoteFileInfoMsg">
        <soap:header message="tns:RemoteFileInfoMsg_Headers" part="FileName" use="literal" />
        <soap:header message="tns:RemoteFileInfoMsg_Headers" part="Size" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoursePartisipant">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/GetCoursePartisipant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CourseMates">
    <wsdl:port name="soap" binding="tns:soap">
      <soap:address location="http://localhost:50368/CourseMates.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>