Code/CourseMate/WCFTest/Service References/ServiceReference1/CourseMates.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CourseMates" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50368/CourseMates.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50368/CourseMates.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50368/CourseMates.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CourseMatesWS.DAL.Objects" />
      <xsd:import schemaLocation="http://localhost:50368/CourseMates.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CourseMatesWS.BLL" />
      <xsd:import schemaLocation="http://localhost:50368/CourseMates.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICourseMates_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_GetCoursesByUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesByUserID" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_GetCoursesByUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_GetFilesByCourseID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesByCourseID" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_GetFilesByCourseID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesByCourseIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_GetFourmItemByCourseID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFourmItemByCourseID" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_GetFourmItemByCourseID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFourmItemByCourseIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_GetCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourses" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_GetCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_UpdateCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCourse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_UpdateCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_CreateNewCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCourse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_CreateNewCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_SendInvitations_InputMessage">
    <wsdl:part name="parameters" element="tns:SendInvitations" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_SendInvitations_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendInvitationsResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_RequestJoinCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestJoinCourse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_RequestJoinCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestJoinCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_ApproveRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ApproveRequest" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_ApproveRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApproveRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_DeleteCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCourse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_DeleteCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_RateFile_InputMessage">
    <wsdl:part name="parameters" element="tns:RateFile" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_RateFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:RateFileResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_SubmitFourmItem_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitFourmItem" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_SubmitFourmItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitFourmItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_RateFourmItem_InputMessage">
    <wsdl:part name="parameters" element="tns:RateFourmItem" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_RateFourmItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:RateFourmItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_DeleteFourmItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFourmItem" />
  </wsdl:message>
  <wsdl:message name="ICourseMates_DeleteFourmItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFourmItemResponse" />
  </wsdl:message>
  <wsdl:portType name="ICourseMates">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/LogIn" message="tns:ICourseMates_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/LogInResponse" message="tns:ICourseMates_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/Register" message="tns:ICourseMates_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/RegisterResponse" message="tns:ICourseMates_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoursesByUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/GetCoursesByUserID" message="tns:ICourseMates_GetCoursesByUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/GetCoursesByUserIDResponse" message="tns:ICourseMates_GetCoursesByUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilesByCourseID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/GetFilesByCourseID" message="tns:ICourseMates_GetFilesByCourseID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/GetFilesByCourseIDResponse" message="tns:ICourseMates_GetFilesByCourseID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFourmItemByCourseID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/GetFourmItemByCourseID" message="tns:ICourseMates_GetFourmItemByCourseID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/GetFourmItemByCourseIDResponse" message="tns:ICourseMates_GetFourmItemByCourseID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/GetUsers" message="tns:ICourseMates_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/GetUsersResponse" message="tns:ICourseMates_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/GetCourses" message="tns:ICourseMates_GetCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/GetCoursesResponse" message="tns:ICourseMates_GetCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/UpdateCourse" message="tns:ICourseMates_UpdateCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/UpdateCourseResponse" message="tns:ICourseMates_UpdateCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/CreateNewCourse" message="tns:ICourseMates_CreateNewCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/CreateNewCourseResponse" message="tns:ICourseMates_CreateNewCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendInvitations">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/SendInvitations" message="tns:ICourseMates_SendInvitations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/SendInvitationsResponse" message="tns:ICourseMates_SendInvitations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestJoinCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/RequestJoinCourse" message="tns:ICourseMates_RequestJoinCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/RequestJoinCourseResponse" message="tns:ICourseMates_RequestJoinCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApproveRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/ApproveRequest" message="tns:ICourseMates_ApproveRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/ApproveRequestResponse" message="tns:ICourseMates_ApproveRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/DeleteCourse" message="tns:ICourseMates_DeleteCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/DeleteCourseResponse" message="tns:ICourseMates_DeleteCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RateFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/RateFile" message="tns:ICourseMates_RateFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/RateFileResponse" message="tns:ICourseMates_RateFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/DeleteFile" message="tns:ICourseMates_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/DeleteFileResponse" message="tns:ICourseMates_DeleteFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitFourmItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/SubmitFourmItem" message="tns:ICourseMates_SubmitFourmItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/SubmitFourmItemResponse" message="tns:ICourseMates_SubmitFourmItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RateFourmItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/RateFourmItem" message="tns:ICourseMates_RateFourmItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/RateFourmItemResponse" message="tns:ICourseMates_RateFourmItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFourmItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseMates/DeleteFourmItem" message="tns:ICourseMates_DeleteFourmItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseMates/DeleteFourmItemResponse" message="tns:ICourseMates_DeleteFourmItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICourseMates" type="tns:ICourseMates">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoursesByUserID">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/GetCoursesByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesByCourseID">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/GetFilesByCourseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFourmItemByCourseID">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/GetFourmItemByCourseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourses">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/GetCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCourse">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/UpdateCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewCourse">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/CreateNewCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendInvitations">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/SendInvitations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestJoinCourse">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/RequestJoinCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveRequest">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/ApproveRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourse">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/DeleteCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RateFile">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/RateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFourmItem">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/SubmitFourmItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RateFourmItem">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/RateFourmItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFourmItem">
      <soap:operation soapAction="http://tempuri.org/ICourseMates/DeleteFourmItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CourseMates">
    <wsdl:port name="BasicHttpBinding_ICourseMates" binding="tns:BasicHttpBinding_ICourseMates">
      <soap:address location="http://localhost:50368/CourseMates.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>